/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */
body {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}


.region-menu .navigation {
  float: left;
}

.region-menu .block-search-form {
  float: right;
}

.region-sidebar-second .block-simpleads {
  text-align: right;
}

/* Type: Club */
.field-name-field-club-contacts .field-collection-view {
  background: #FFFCCB;
  padding: 20px;
  margin: 0;
  border-radius: 10px;
  margin-bottom: 10px;
}

.node-type-club .field-name-field-club-contacts-phone .field-item {
  display: block;
}
/* End of: Type: Club */
